.header {
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: space-between;
	padding: 30px 2%;
}

.navBar {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav_links {
	padding-right: 75px;
	list-style: none;
}

.nav_links li {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: xx-large;
	display: inline-block;
	padding: 0px 20px;
}

.name, .login {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: x-large;
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	color: rgb(0, 0, 0);
}

.nav_links li a:hover {
	color: rgb(82, 82, 82);
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.login a:hover {
	color:rgb(82, 82, 82);
}

.login a {
	transition: all 0.3s ease 0s;
}