* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
	color: black;
	text-decoration: none;
}
.body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
	width: 750px;
	margin: auto;
	padding-top: 30px;
	padding-left: 125px;
}
.title {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: x-large;
	width: 800px;
	margin: auto;
	padding-left: 125px;
	padding-top: 120px;
}

.author {
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 800px;
	margin: auto;
	padding-left: 125px;
}

.created {
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 800px;
	margin: auto;
	padding-left: 125px;
}

.navBar {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment-author {
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: bold;
}

.comment-section {
	margin: auto;
	width: 800px;
	padding-left: 125px;
	padding-bottom: 50px;
}

.paragraph {
	padding-bottom: 20px;
}

.about-content {
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	padding-right: 50px;
	padding-left: 50px;
}

.about-page-title {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: 60px;
	padding-bottom: 30px;
}

.about-page-info {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: 30px;
	padding-bottom: 20px;
}

.about-page {
	padding-top: 350px;
}

.login-prompt, .comment {
	font-family:Georgia, 'Times New Roman', Times, serif;
}

.login-page, .create-page {
	transform: translateY(+75%);
	margin: auto;
	width: min-content;
	padding: 50px;
	border-style: solid;
}

.login-title, .create-title {
	margin: auto;
	width: max-content;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 25px;
	padding-bottom: 10px;
}

.login-input-label, .create-input-label {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 15px;
	padding-bottom: 10px;
}

.login-input {
	padding-bottom: 10px;
}

.login-create {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 15px;
	width: max-content;
	margin: auto;
}

.login-create:hover {
	color: rgb(82, 82, 82);
	text-decoration: underline;
}

.login-button, .create-button {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	transition-duration: 0.4s;
	background-color: whitesmoke;
	color: black;
	border: 1px solid;
	border-color: black;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 15px;
	padding: 5px 24px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.login-button:hover, .create-button:hover {
	color: whitesmoke;
	border-color: rgb(82, 82, 82);
	background-color: rgb(82, 82, 82);
}

.comment-button {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	transition-duration: 0.4s;
	background-color: whitesmoke;
	color: black;
	border: 1px solid;
	border-color: black;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 10px;
	padding: 5px 24px;
	margin-left: 10px;
}

.comment-button:hover {
	color: whitesmoke;
	border-color: rgb(82, 82, 82);
	background-color: rgb(82, 82, 82);
}

.comment-input-label {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.comment-input {
	display: flex;
}

.comment-form {
	display: flex;
}

.delete-comment-button {
	width: max-content;
	transition-duration: 0.4s;
	background-color: whitesmoke;
	color: black;
	border: 1px solid;
	border-color: black;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 10px;
	padding: 5px 24px;
}

.comment-text {
	padding-bottom: 10px;
}

.delete-comment-button:hover {
	color: whitesmoke;
	border-color: rgb(82, 82, 82);
	background-color: rgb(82, 82, 82);
}

.search-bar {
	width: 800px;
	margin:auto;
}

.search-input {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 15px;
	width: 800px;
	padding: 12px 20px;
	margin-left: auto;
	margin-right: auto;
  }

.search-results {
	width: 100%;
	padding-top:40px;
	padding-left: 20px;
	padding-right: 20px;
}

  .username-taken, .password-match {
	  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	  font-size: 10px;
	  padding-bottom: 4px;
	  color:crimson; 
  }

  .quote {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: medium;
	font-style: italic;
	width: 500px;
	margin: auto;
	padding-top: 30px;
  }