* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	color: black;
	text-decoration: none;
}

.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
	text-align: center;
    padding-bottom: 40px;
    background-color: whitesmoke;
}

.list {
    width: 600px;
    border-style: solid;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

.list-item {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.country-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
}

.country-link:hover {
    text-decoration: underline;
}

.country-info {
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
}

.updated {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: small;
}

.section-title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 10px;
}

.bar {
    width: var(--bar-value);
    height: 2px;
    margin-top: 19px;
    background-color: black;
}

.transparent-bar {
    width: var(--bar-value);
    height: 2px;
    margin-top: 19px;
}

.bar-wrap {
    display: flex;
}

.bar-wrap:hover .bar {
    transform: scaleY(1.1);
}

.bar-wrap:hover .flag img{
    transform: scaleY(1.1);
}

.flag img {
    height: 40px;
}

.layer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: whitesmoke;
    padding-top: 50px
}

.layer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tweet {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 25px;
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.tweet-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: small;
    padding-bottom: 10px;
}

.tweet-link:hover {
    text-decoration: underline;
}

.tweet-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px
}

.tweet-retweets {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.scroll {
    height: 500px;
    overflow-y: auto;
}

.wordcloud {
    padding-top: 10px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
}

#mapid { height: 600px; }