* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}
a {
	color: black;
	text-decoration: none;
}

.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
	text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}

.list {
    width: 600px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    margin-bottom: 50px;
}

.list-item {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.country-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
}

.country-link:hover {
    text-decoration: underline;
}

.country-info {
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: large;
}

.updated {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: small;
}