
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <body>
        Add Post
        <div class="admin-item">
            <form action="{{ url_for('add_post') }}" method="post" enctype="multipart/form-data">
                Title
                <input type="text" name="title" required/>
                Author
                <input type="text" name="author" required/>
                <input class="login-button" type="submit" value="Submit"/>
            </form>
        </div>
        Add Paragraph
        <div class="admin-item">
            <form action="{{ url_for('add_text') }}" method="post" enctype="multipart/form-data">
                Title
                <input type="text" name="title" required/>
                Paragraph
                <input type="text" name="paragraph" required/>
                <input class="login-button" type="submit" value="Submit"/>
            </form>
        </div>
        Delete Post
        <div class="admin-item">
            <form action="{{ url_for('delete_post') }}" method="post" enctype="multipart/form-data">
                Postid
                <input type="text" name="postid" required/>
                <input class="login-button" type="submit" value="Delete"/>
            </form>
        </div>
        Delete Paragraph
        <div class="admin-item">
            <form action="{{ url_for('delete_paragraph') }}" method="post" enctype="multipart/form-data">
                Text
                <input type="text" name="text" required/>
                Postid
                <input type="text" name="postid" required/>
                <input class="login-button" type="submit" value="Delete"/>
            </form>
        </div>
    </body>
</html>