<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<title>- Max Barmack</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/world_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav_style.css') }}">
</head>
<body>
    <div class="header">
        <div class="name">
            Max Barmack
        </div>
        <nav>
        <ul class="nav_links">
            <li><a href="{{ url_for('show_about') }}">About Me</a></li>
            <li><a href="{{ url_for('show_writing') }}">Writing</a></li>
            <li><a href="{{ url_for('show_world') }}">World News</a></li>
        </ul>
        </nav>
        <div class="login">
            {% if logged_in %}
                <a href="{{ url_for('logout')}}?target={{ url_for('show_world') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('show_login') }}?target={{ url_for('show_world') }}">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="description">
        Using Twitter's API, this page tracks which countries are in the news today
    </div>
    <div class="map-layer">
        <div class="map">
            <!-- Load d3.js -->
            <script src="https://d3js.org/d3.v6.js"></script>
    
            <!-- Load Leaflet -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
            <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
            <div id="mapid"></div>
            <script src="{{ url_for('static', filename='js/map.js')}}"></script>
        </div>
    </div>
    <div class="layer">
        <div class="list">
            <div class="scroll">
                <div class="section-title">
                    Today's Mentions
                </div>
                <div class="updated">
                    Last updated: {{updated}}
                </div>
                <ol>
                    {% for country in country_data %}
                        <div class="list-item">
                            <li>
                                <span class="country-link">
                                    <a href="{{ url_for('show_country', country=country) }}">{{country}}</a>
                                </span>
                                <span class="country-info">
                                    : {{country_data[country]}}
                                </span>
                            </li> 
                        </div>
                        <a href="{{ url_for('show_country', country=country) }}">
                            <div class="bar-wrap">
                                <div class="bar" style="--bar-value:10px"></div>
                                <div class="bar" style="--bar-value:{{norm[country]}}px"></div>
                                <div class="transparent-bar" style="--bar-value:10px"></div>
                                <div class="flag">
                                    <img src="{{ url_for('static', filename=photo[country])}}" width="60" height="40">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="list">
            <div class="scroll">
                <div class="section-title">
                    Top Tweets
                </div>
                {% for tweet in top %}
                    <div class="tweet">
                        <div class="tweet-link">
                            <a href="https://twitter.com/{{tweet.author}}/status/{{tweet.id}}" target="_blank">{{tweet.author}}</a>:
                        </div>
                        <div class="tweet-text">
                            {{tweet.text}} 
                        </div>
                        <div class="tweet-retweets">
                            Retweets: {{tweet.retweets}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="layer-bottom">
        <div class="list">
            <div class="scroll">
                <div class="section-title">
                    Total Mentions
                </div>
                <ol>
                    {% for country in totals %}
                        <div class="list-item">
                            <li>
                                <span class="country-link">
                                    <a href="{{ url_for('show_country', country=country) }}">{{country}}</a>
                                </span>
                                <span class="country-info">
                                    : {{totals[country]}}
                                </span>
                            </li> 
                        </div>
                        <a href="{{ url_for('show_country', country=country) }}">
                            <div class="bar-wrap">
                                <div class="bar" style="--bar-value:10px"></div>
                                <div class="bar" style="--bar-value:{{total_norm[country]}}px"></div>
                                <div class="transparent-bar" style="--bar-value:10px"></div>
                                <div class="flag">
                                    <img src="{{ url_for('static', filename=photo[country])}}" width="60">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="list">
            <div class="scroll">
                <div class="section-title">
                    Words of the Day
                </div>
                <img src="{{ url_for('static', filename='wordcloud.png') }}" width="550" class="wordcloud">
            </div>
        </div>
    </div>
</body>
</html>